<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @states_assign.state.name %>
</p>

<%= link_to 'Edit', edit_states_assign_path(@states_assign) %> |
<%= link_to 'Back', states_assigns_path %>
